<a href="https://colab.research.google.com/github/clferreira1985/Python_Treinamento_basico/blob/main/Orientacao_a_objeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exemplo de código 1: Definição de Classe e instanciação dos objetos

In [5]:
#Definição da classe
class Aluno:

  def __init__(self):
    self.nome = 'Zé'
    self.idade = 18
  def dobra_idade(self):
    return self.idade * 2

In [6]:
# Instanciação dos objetos

aluno_1 = Aluno()
aluno_1.nome = 'Maria' # definindo que o nome do Aluno_1 é 'Maria'

aluno_2 = Aluno()
aluno_2.idade = 21 # definindo que a idade do aluno_2 é 21

In [7]:
print(aluno_1.nome) # imprime Maria (valor que definimos)
print(aluno_2.nome) # imprime Zé (valor default)

Maria
Zé

In [8]:
print(aluno_1.dobra_idade()) # imprime a idade 18 (valor default)
print(aluno_2.dobra_idade()) # imprime as idade 21 (valor que definimos)

36
42

In [10]:
# ao mudar o valor de nome em aluno_1, o aluno_2 continua inalterado
aluno_1.nome = "Ana"

print("Nome do Aluno_1:", aluno_1.nome)
print("Nome do Aluno_2:", aluno_2.nome)

Nome do Aluno_1: Ana
Nome do Aluno_2: Zé

### Exemplo de código 2: Parâmetro self

In [17]:
class Calculadora:
  valor_interno = 5

  def adiciona(self, numero):
    # não podemos chmar a variável "valor_interno" sem self porque 'valor' é um atributo de calculadora
    return self.valor_interno + numero;

In [18]:
total = Calculadora()
print('resultado = %d' % total.adiciona(3)) #self pegará o valor 5 de valor_interno e o valor 3 itá paara numero

resultado = 8

In [19]:
total = Calculadora()
print('resultado = %d' % total.adiciona(5)) #self pegará o valor 5 de valor_interno e o valor 3 itá paara numero

resultado = 10

### Método "__init__ "

In [28]:
class Carro:

  def __init__(self):
      self.cor = "preto"

In [29]:
# um novo carro é criado com cor = "Preto"
carro_1 = Carro()
print(carro_1.cor)

preto

In [30]:
#alterando o valor da color de carro_1 para 'branco'
carro_1.cor = 'Branco'
print(carro_1.cor)

Branco

In [31]:
class Carro2:
  def __init__ (self, cor):
    self.cor = cor

In [34]:
# um novo carro é criado com cor = "azul"

carro_2 = Carro2("azul")
print(carro_2.cor)

azul

In [35]:
carro_2.cor = "branco"
print(carro_2.cor)

branco